.about-us {
    .style-btn {
        margin: 0 1rem 1rem 0;
    }
}

.worker {
    margin-bottom: 2.5rem;

    &__name {
        margin: 1.5rem 0 1rem;
        font-size: $fzLarge;
        font-family: $ffMedium;
    }
}

.design-pr {
    
    img.block {
        margin-bottom: 2rem;
    }

    p {
        text-align: justify;
    }
}

.fabrics {
    .ulstyle2 {
        li {
            width: 30%;
            @include tablets {
                width: 45%;
            }
        }

        a {
            color: #000;
            text-decoration: underline;
        }
    }
}

.ex {
    margin-bottom: 4rem;
    &__desc {
        span {
            display: block;
        }
    }
}