.advantages {
    padding: 6rem 0;
    background: #fff;
    @include phones {
        padding: 3rem 0;
    }

    &__item {
        display: flex;
        align-items: center;
        @include border-red;
        padding: 3.5rem 1.5rem;
        @include desktop {
            margin-bottom: 2rem;
        }
    }

    &__img {
        flex: 0 0 150px;
        height: 165px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;

        @include phones {
            flex: 0 0 100px;
        }

        img {
            display: block;
        }
    }

    &__desc {
        text-align: center;
        font-family: $ffMedium;
    }

    &__title {
        font-size: 2.8rem;
        color: $secondColor;

        &::after {
            content: '';
            display: block;
            width: 80%;
            height: 1px;
            margin: 1rem auto;
            background: #c9c9c9;
        }

        @include desktop-normal {
            font-size: 2.4rem;
        }
    }

    &__text {
        color: #000;
        font-size: 2rem;

        @include desktop-normal {
            font-size: 1.8rem;
        }
    }
}
