//fonts
$ffRegular: 'HelveticaNeueCyr-Light', arial, sans-serif;
$ffMedium: 'HelveticaNeueCyr-Roman', arial, sans-serif;
$ffBold: 'HelveticaNeueCyr-Bold', arial, sans-serif;
$ffItalic: 'HelveticaNeueCyr-Italic', arial, sans-serif; 
//fonts size
$fzRegular: 1.8rem;
$fzLarge: 2.4rem;

//colors
$primaryColor: #d32f58;
$secondColor: #2b7900;